# See docs/Config_Reference.md for a description of parameters.
[include moonraker_obico_macros.cfg]
[include mainsail.cfg]
[include macro.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include shell_command.cfg]
[include ./internal/filament_sensor.cfg]
# [include ./internal/raspberry.cfg]
[include ./internal/screw_adjust.cfg]
[include ./internal/motors.cfg]
[include ./internal/extras.cfg]
[include ./internal/probe.cfg]
# [include ./internal/adxl.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   :  5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 0.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel m>
variable_park_at_cancel_y : 200  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel># !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 600     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set >
# variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case>
gcode:
    
[virtual_sdcard]
path: /home/yax/printer_Ender3V3SE_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.2:1.0-port0
restart_method: command

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000
minimum_cruise_ratio: 0.5
max_z_velocity: 5
square_corner_velocity: 5.0
max_z_accel: 100

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 100

[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed : 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0
heater:extruder
heater_temp : 50
fan_speed : 1.0

[fan]
pin: PA0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.648
#*# pid_ki = 0.766
#*# pid_kd = 1405.697
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.403
#*# pid_ki = 1.960
#*# pid_kd = 75.956
#*#
#*# [bltouch]
#*# z_offset = 1.555
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 45.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.6
#*#
#*# [skew_correction skew_profile]
#*# xy_skew = -0.0020020068988725113
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.060000, 0.055000, 0.025000
#*# 	  0.050000, 0.040000, 0.020000
#*# 	  0.047500, 0.035000, 0.012500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 95.0
#*# max_x = 125.0
#*# min_y = 95.0
#*# max_y = 125.0
