[bed_screws]
screw1:32,30.5
screw1_name:1
screw2:201,30.5
screw2_name:2
screw3:201,199
screw3_name:3
screw4:32,199
screw4_name:4

[screws_tilt_adjust]
screw4:71, 42
screw4_name: front left screw
# screw2: 240, 42
screw3: 230, 42
screw3_name: front right screw
# screw3: 240, 211
screw2: 230, 211
screw2_name: rear right screw
screw1: 71, 211
screw1_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise